.menuhorizontal {
  height: 6vh;
  border: 1px solid rgb(114, 113, 113);
  margin: 0.2%;
  padding-top: 1vh;
  background-color: rgb(151, 148, 148);
  font-size: 18px;
  width: 99.5%;
}

.navMenu ul {
  list-style: none;
  text-align: left;
}

.navMenu ul li {
  display: inline;
}

.navMenu ul li a {
  padding-left: 1vw;
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.navMenu ul li a:hover {
  color: blue;
  font-weight: bold;
  font-size: 20;
}